<section class="content text-center">
    <section class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-7 col-md-offset-0">
                <h2>Pojištění</h2>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="thumbnail text-center">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-home fa-stack-1x"></i>
                            </span>

                            <div class="caption">
                                <div class="wrapper-lower"><h4>privátního<br>majetku</h4></div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="slide center-block">
                                            <div class="text-center">
                                                <div class="wrapper-sort-down menu-1" id="house">
                                                    <i class="fa fa-sort-down"></i>
                                                </div>
                                            </div>
                                            <div class="wrapper-details">
                                                <div class="details center-block slider-1">
                                                    <div class="devider">domácností</div>
                                                    <div class="devider">nemovitosti</div>
                                                    <div class="devider">odpovědnosti</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="thumbnail text-center">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-car fa-stack-1x"></i>
                            </span>

                            <div class="caption">
                                <div class="wrapper-lower"><h4>vozidel</h4></div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="slide center-block">
                                            <div class="text-center">
                                                <div class="wrapper-sort-down menu-2" id="auto">
                                                    <i class="fa fa-sort-down"></i>
                                                </div>
                                            </div>
                                            <div class="wrapper-details">
                                                <div class="details center-block slider-2">
                                                    <div class="devider">povinné</div>
                                                    <div class="devider">havarijní</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="thumbnail text-center">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-users fa-stack-1x"></i>
                            </span>

                            <div class="caption">
                                <div class="wrapper-lower"><h4>osob</h4></div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="slide center-block">
                                            <div class="text-center">
                                                <div class="wrapper-sort-down menu-3" id="person">
                                                    <i class="fa fa-sort-down"></i>
                                                </div>
                                            </div>
                                            <div class="wrapper-details">
                                                <div class="details center-block slider-3">
                                                    <div class="devider">úrazové</div>
                                                    <div class="devider">dětí</div>
                                                    <div class="devider">invalidity</div>
                                                    <div class="devider">pracovní neschopnost </div>
                                                    <div class="devider">hospitalizace</div>
                                                    <div class="devider">kompenzace penzijního spoření v případě invalidity</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-offset-5 col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0">
                <h2 class="ie">
                    <small>Jiné druhy činnosti </small>
                </h2>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="thumbnail text-center">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-eur fa-stack-1x"></i>
                            </span>

                            <div class="caption">
                                <div class="wrapper-lower"><h4>investice</h4></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-6">
                        <div class="thumbnail text-center">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-graduation-cap fa-stack-1x"></i>
                            </span>

                            <div class="caption">
                                <div class="wrapper-lower"><h4>překlady</h4></div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="slide center-block">
                                            <div class="text-center">
                                                <div class="wrapper-sort-down menu-4" id="translate">
                                                    <i class="fa fa-sort-down"></i>
                                                </div>
                                            </div>
                                            <div class="wrapper-details">
                                                <div class="details center-block slider-4" id="translate-slider">
                                                    <div class="devider">překlady</div>
                                                    <div class="devider">tlumočení</div>
                                                    <div class="devider">RJ-ČJ</div>
                                                    <div class="devider">ČJ-RJ</div>
                                                    <div class="devider">(bez soudní licence)</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>