<footer class="collage">
    <div class="overlay overlay_collage"></div>
    <div class="container-fluid">
        <div class="row">
            <div
                    class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-6 col-lg-5 col-lg-offset-7 vcenter">
                <div class="info center-block">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-sm-push-7 col-lg-5 vcenter">
                            <div class="wraper-info-photo"><img class="img-responsive" id="alex" src="img/alex.PNG"
                                                     alt="Alexej Polak"/></div>
                        </div><!--
                        --><div class="col-xs-12 col-sm-7 col-sm-pull-5 col-lg-7 vcenter">
                            <div class="wraper-info-text">
                                <h2 class="text-uppercase">ing. alexej polák</h2>
                                <p class="wraper-info-lead">finanční poradce</p>
                                <p class="wraper-info-phone">+420 728 501 660<br>alexej.polak@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>