<!--Заставка с текстом-->
<header class="family safari">
    <div class="overlay"></div>
    <div class="container-fluid">
        <!-- блок навигации и контакты-->
        <div class="row">
            <div class="header-info">
                <div class="col-xs-6">
                    <div class="header-info-left">
                        <nav class="nav nav-pills flag">
                            <div class="flag-item">
                                <a class="btn btn-link" href="index.html"><abbr title="CZ" data-toggle="tooltip"
                                                                                data-placement="bottom"><img class='img-responsive'
                                                                                                             src="img/cz.png"
                                                                                                             alt="flag of the Czech Republic"/></abbr>
                                </a>
                            </div>
                            <div class="flag-item">
                                <a class="btn btn-link passive" href="second.html"><abbr title="RU" data-toggle="tooltip"
                                                                                         data-placement="bottom"><img class='img-responsive'
                                                                                                                      src="img/ru.png"
                                                                                                                      alt="flag of the Russian Federation"/></abbr>
                                </a></div>
                        </nav>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="header-info-right text-right">
                        <div class="contacts">
                            <div class="geo-wraper"><img class='geo' src="img/geo-marker.png"
                                                         title="Brno-Bystrc"
                                                         alt="geo icon"/></div>
                            +420 728 501 660<br>
                            alexej.polak@gmail.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--конец блока навигации-->

        <div class="splash text-center">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-7 col-lg-6 col-lg-offset-6">
                    <div class="header-text-wraper">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="slogan">
                                    <h1 class="wide safari">Do budoucna<br>s důvěrou!</h1>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="list-wraper">
                                    <ul class="list">
                                        <li>Pojištění</li>
                                        <li>Investice</li>
                                        <li>Překlady</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <a href="#modal-form" class="btn btn-primary text-uppercase wide button-call safari"
                                   id="modalButton"
                                >Zpětné volání</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--конец заставки с текстом-->
