<!--Заставка с текстом-->
<div class="family safari">

    <div class="container-fluid">
        <!-- блок навигации и контакты-->
        <div class="row">
            <div class="header-info">
                <div class="col-xs-6">
                    <div class="header-info-left">
                        <nav class="nav nav-pills flag">
                            <div class="flag-item">
                                <a class="btn btn-link" href="index.html"><abbr title="CZ" data-toggle="tooltip"
                                                                                        data-placement="bottom"><img class='img-responsive'
                                                                                                                     src="img/cz.png"
                                                                                                                     alt="čeština"/></abbr>
                                </a>
                            </div>
                            <div class="flag-item">
                                <a class="btn btn-link passive" href="second.html"><abbr title="RU" data-toggle="tooltip"
                                                                                     data-placement="bottom"><img class='img-responsive'
                                                                                                                  src="img/ru.png"
                                                                                                                  alt="ruština"/></abbr>
                                </a></div>
                        </nav>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="header-info-right text-right">
                        <div class="contacts">
                            <div class="geo-wraper"><a href="https://www.google.com.ua/maps/place/635+00+Brno-Bystrc,+%D0%A7%D0%B5%D1%85%D0%B8%D1%8F/@49.2429648,16.4138714,12z/data=!3m1!4b1!4m5!3m4!1s0x4712974da069fdff:0x500af0f6614cd60!8m2!3d49.228787!4d16.5260415"><img class='geo' src="img/geo-marker.png"
                                                               title="Brno-Bystrc"
                                                             alt="umístění"/></a></div>+420 728 501 660<br>
                            alexej.polak@gmail.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--конец блока навигации-->

        <div class="splash text-center safari">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-7 col-lg-6 col-lg-offset-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="slogan">
                                <h1 class="wide safari">Do budoucna<br>s důvěrou!</h1>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <ul class="list">
                                <li>Pojištění</li>
                                <li>Investice</li>
                                <li>Překlady</li>
                            </ul>
                        </div>
                        <div class="col-xs-12">
                            <a href="#modal-form" class="btn btn-primary text-uppercase wide button-call safari" id="modalButton"
                            >Zpětné volání</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--конец заставки с текстом-->

