

<div class="collage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-4 col-sm-7 col-sm-offset-5 col-md-6 col-md-offset-6 col-lg-5 col-lg-offset-7 vcenter loose-xs">
                <div class="info">
                    <div class="row">
                        <div class=" col-xs-6 col-sm-7 col-lg-7 vcenter loose-xs-text">
                            <div class="wraper-info-text">
                                <h2 class="text-uppercase">алексей полак</h2>
                                <p class="wraper-info-lead"><lead>финансовый консультант</lead>
                                <p class="wraper-info-phone">+420 728 501 660<br>alexej.polak@gmail.com</p>
                                </p>
                            </div>
                        </div><!--
                        --><div class="col-xs-6 col-sm-5 col-lg-5 vcenter loose-xs-photo">
                            <div class="wraper-info-photo"><img class='img-responsive' id='alex' src="img/alex.png"
                                                     alt="man"/></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

