<section class="content text-center">
    <section class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-7 col-md-offset-0">
                <h2>Страхование</h2>

                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="thumbnail text-center">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-home fa-stack-1x"></i>
                            </span>

                            <div class="caption">
                                <div class="wrapper-lower"><h4>личного<br>имущества</h4></div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="slide center-block">
                                            <div class="text-center">
                                                <div class="wrapper-sort-down menu-1" id="house">
                                                    <i class="fa fa-sort-down"></i>
                                                </div>
                                            </div>
                                            <div class="wrapper-details">
                                                <div class="details center-block slider-1">
                                                    <div class="devider"><i class="fa fa-circle"></i>движимого</div>
                                                    <div class="devider"><i class="fa fa-circle"></i>недвижимого</div>
                                                    <div class="devider"><i class="fa fa-circle"></i>ответственности</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="thumbnail text-center">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-car fa-stack-1x"></i>
                            </span>

                            <div class="caption">
                                <div class="wrapper-lower"><h4>транспортных<br>средств</h4></div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="slide center-block">
                                            <div class="text-center">
                                                <div class="wrapper-sort-down menu-2" id="auto">
                                                    <i class="fa fa-sort-down"></i>
                                                </div>
                                            </div>
                                            <div class="wrapper-details">
                                                <div class="details center-block slider-2">
                                                    <div class="devider"><i class="fa fa-circle"></i>обязательное</div>
                                                    <div class="devider"><i class="fa fa-circle"></i>аварийное</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="thumbnail text-center">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-users fa-stack-1x"></i>
                            </span>

                            <div class="caption">
                                <div class="wrapper-lower"><h4>физических<br>лиц</h4></div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="slide center-block">
                                            <div class="text-center">
                                                <div class="wrapper-sort-down menu-3" id="person">
                                                    <i class="fa fa-sort-down"></i>
                                                </div>
                                            </div>
                                            <div class="wrapper-details">
                                                <div class="details center-block slider-3">
                                                    <div class="devider"><i class="fa fa-circle"></i>несчастных случаев</div>
                                                    <div class="devider"><i class="fa fa-circle"></i>детей</div>
                                                    <div class="devider"><i class="fa fa-circle"></i>инвалидности</div>
                                                    <div class="devider"><i class="fa fa-circle"></i>потери трудоспособности</div>
                                                    <div class="devider"><i class="fa fa-circle"></i>оплата госпитализации</div>
                                                    <div class="devider"><i class="fa fa-circle"></i>компенсация пенсионного страхования в
                                                        случае инвалидности
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-offset-5 col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0">
                <h2 class="ie">
                    <small>Другие сферы деятельности</small>
                </h2>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="thumbnail text-center">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-eur fa-stack-1x"></i>
                            </span>

                            <div class="caption">
                                <div class="wrapper-lower"><h4>инвестиции</h4></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-6">
                        <div class="thumbnail text-center">
                            <span class="fa-stack">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-graduation-cap fa-stack-1x"></i>
                            </span>

                            <div class="caption">
                                <div class="wrapper-lower"><h4>переводы</h4></div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="slide center-block">
                                            <div class="text-center">
                                                <div class="wrapper-sort-down menu-4" id="translate">
                                                    <i class="fa fa-sort-down"></i>
                                                </div>
                                            </div>
                                            <div class="wrapper-details">
                                                <div class="details center-block slider-4" id="translate-slider">
                                                    <div class="devider"><i class="fa fa-circle"></i>устные
                                                        (русский-чешский, чешский-русский)</div>
                                                    <div class="devider"><i class="fa fa-circle"></i>письменные
                                                        (русский-чешский, чешский-русский, в т.ч. с судебным заверением)</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>