<!--Заставка с текстом-->
<div class="family safari">

    <div class="container-fluid">
        <!-- блок навигации и контакты-->
        <div class="row">
            <div class="header-info">
                <div class="col-xs-6">
                    <div class="header-info-left">
                        <nav class="nav nav-pills flag">
                            <div class="flag-item">
                                <a class="btn btn-link passive" href="index.html"><abbr title="CZ" data-toggle="tooltip"
                                                                                        data-placement="bottom"><img class='img-responsive'
                                                                                                                     src="img/cz.png"
                                                                                                                     alt="чешский язык"/></abbr>
                                </a>
                            </div>
                            <div class="flag-item">
                                <a class="btn btn-link" href="second.html"><abbr title="RU" data-toggle="tooltip"
                                                                                     data-placement="bottom"><img class='img-responsive'
                                                                                                                  src="img/ru.png"
                                                                                                                  alt="русский язык"/></abbr>
                                </a></div>
                        </nav>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="header-info-right text-right">
                        <div class="contacts">+420 728 501 660<br>
                            alexej.polak@gmail.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--конец блока навигации-->

        <div class="splash text-center safari">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-7 col-lg-6 col-lg-offset-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="slogan">
                                <h1 class="wide safari">В будущее<br>с уверенностью!</h1>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <ul class="list">
                                <li>Страхование</li>
                                <li>Инвестирование</li>
                                <li>Переводы</li>
                            </ul>
                        </div>
                        <div class="col-xs-12">
                            <a href="#modal-form" class="btn btn-primary text-uppercase wide button-call safari" id="modalButton"
                            >Обратный
                                звонок</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--конец заставки с текстом-->
