.collage{
  position:relative;
  background-image:url(../img/collage-xs-sm.jpg);
  color:$primary-color;
  height:$background-height-base;
  min-width:368px;
  background-position:bottom;
  background-size:cover;
  z-index:1;
  @media (min-width:$screen-md-min) {
    background-image:url(../img/collage.jpg);
    height:$background-height-large;
    padding:$margin;
  }
}
.info{
  background-color:$background-color-rgba;
  margin:15px 0;
  padding:$padding-large;
  position:relative;
  z-index:10;
  @media (max-width:$screen-sm-min) {
    text-align:center;
  }
}
.info .wraper-info-text h2{
  font-size:$font-size-h2-small;
  margin:$margin/5 0 0 0;
  @media (min-width:$screen-md-min) {
    font-size:$font-size-h3;
  }
  @media (max-width:640px) {
    margin:30px 0 0 0;
  }
}
.vcenter{
  display:inline-block;
  float:none;
  vertical-align:middle;
}
.wraper-info-lead{
  margin:$margin/2 0 $margin/2 0;
}
.wraper-info-phone{
  font-weight:600;
}
.wraper-info-photo img{
  @media (max-width:$screen-sm-min) {
    margin:30px auto;
    padding:0 30px;
  }
}
.wraper-info-text{
  transform:translateX(10%);
  @media (max-width:$screen-sm-min) {
    transform:translateX(0);
    margin:0 10%;
  }
}